#home{
    height: 280px;
    padding: 3px 68px;
    

}
#home::before{
    height: 450px;
    
}



#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 10px;
}
#navbar #clock {
    text-align: center;
}

#services .box{
    /* flex-direction: column; */
    padding: 14px;
    margin: 2px 15px;
    margin-bottom: 20px;

}

#footer ul li {
    padding: 15px;
    flex-direction: column;

}
#footer ul{
    flex-direction: column;
    text-align: center;
    float: left;

}