
*{
    margin: 0px;
    padding: 0px;
}

#navbar{
    position: relative;
    display:flex;
    align-items: center;

}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}
#navbar ul {
    display:flex;
    align-items: center;

}
#navbar ul li {
    position: relative;
    display:flex;
    list-style: none;
    font-size: 1.4rem;

}



#clock {
    color:yellow;
    padding-left:60px;
}
#navbar ul li a{
    color: white;
    display:block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color:black;
    background-color: white;
}
#navbar p{
    color:yellow;
    font-size: 1.3rem;

}

#logo img{
    height: 59px;
    margin: 24px 35px;
    border-radius: 40px;
}
#home{
    display: flex;
    padding: 3px 200px;
    height: 628px;
    justify-content: center;
    align-items: center;
    
}

#home::before{
    content: "";
    position: absolute;
    background: url("./background.jpg") no-repeat center center/cover;
    z-index: -1;
    height: 700px;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 0.89;

}

#home h1{
    color: white;
    text-align: center;
    
}

#home p{
    color:yellowgreen;
    text-align: center;
    font-size: 1.5rem;
}
#services{
    margin: 34px;
    display: flex;
    background-color: orange;
}


.articles::before{
   
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
#services .box{
    border: 2px solid transparent;
    padding: 34px;
    margin: 80px 80px;
    background: scroll;

}

#services .box img{
    display: flex;
    margin: auto;
    height: 160px;
    display: block;
} 


.h-primary{
    color: red;
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
    color: rgba(36, 49, 105, 0.61);
    font-size: 2.8rem;
    padding: 24px;
}


#footer{
    position: relative;
    padding:35px ;
    display:flex;
    background-color:#2d89ef;

}
#footer::before{
    content: "";
    position: absolute;
    z-index: -1;
    opacity: 0.4;

}

#footer ul li {
    padding: 15px  100px ;
    list-style: none;

}

#footer ul{
    display:flex;
    
}