body {
    height: 100%;
    min-width: 1060px;
    margin: 0;
    color: #574c4f;
    font: 16px/1.7 normal normal;
    font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
}

.welcome {
    font: 16px/1.5 normal normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 300;
    color: #efdab9;
    background-color: #343233;
    padding: .5em 3em;
}

.welcome .welcome-cta {
    margin: 66.6666666667px 0 0 0;
}

.link a{
    color:#ffd152 ;
    text-decoration: none;
    padding: .5em 3em;

}
.welcome .welcome-button {
    display: inline-block;
    padding: .5em 1em;
    line-height: inherit;
    font-size: inherit;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    color: #343233;
    background-color: #ffd152;
}

.header ul {
    display:flex;
    margin-left: 20rem;
    

}
.header ul li {
    position: relative;
    display:flex;
    list-style: none;
    font-size: 2em;
    font-weight: 500;

}
.header a {
    color:#ffd152 ;
    text-decoration: none;
    padding: .5em .5em;
    
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.welcome .columns .column:last-child {
    padding-left: 66.6666666667px;
}
.columns .column:last-child {
    padding-left: 20px;
    padding-right: 0;
}
.welcome .column {
    width: 50%;
}


.columns {
    overflow: hidden;
    width: 100%;
}
.columns .column {
    float: left;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    vertical-align: top;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}

.footer{
    text-align: center;
    padding-top: 5rem;
    
}

.footer a{
    color:#ffd152 ;
    text-decoration: none;
}