body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h4 {
  text-align: center;
  background-color: rgba(45, 45, 45, 0.1);
  padding: 10px;
  font-size: 27px;
  text-transform: uppercase;
  color: rgb(90, 202, 127);
}

i {
  color: #fff;
}

.fixed-content {
  width: auto;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  text-align: center;
}

.header {
  background-repeat: no-repeat, repeat;
  color: #fff;
  /* max-height: 600px; */
  height: 100%;
  background-color: rgb(190, 111, 111);
}

.port {
  border-radius: 50%;
  border: 5px #ccc solid;
  width: 15%;
}

.pic {
  border-radius: 50%;
  border: 2px #ccc solid;
  width: 45%;
}

.icon-row {
  margin: 45px auto;
  width: 100%;
}

#pro {
  color: rgb(243, 181, 181);
}
.icon-row i {
  border-radius: 4px;
  cursor: pointer;
  font-size: 44px;
  margin: 0px 20px;
  padding: 20px 30px;
  transition: all 400ms ease-in-out;
}

.icon-row i:hover {
  background: #fff;
  color: #ca5549;
}

.second {
  background: rgb(238, 238, 238);
  color: #888;
  width: 100%;
}

#third {
  padding-top: 30px;
  height: 400px;
}

#portfolio h2,
#contact h2 {
  font-size: 40px;
  margin: 0 0 15px 0;
}

#about h5 {
  color: rgb(121, 121, 87);
}

#about h1 {
  color: rgb(55, 30, 68);
}


#about {
  border: 5px solid rgb(138, 138, 126);
  padding: 20px;
  margin: 15%;
  text-align: center;
  
}

#projects {
  text-align: center;
  margin: 10%;

}

#projects a{
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.panel {
  font-family: "Indie Flower", cursive;
  width: 100%;
}

.cardText p {
  text-align: justify;
}

.links {
  margin-right: 20px;
  opacity: 0.7;
}

.fullCard {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 445px;
  height: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px auto;
  padding: 7px;
}

.cardContent {
  padding: 10px;
}

.cardText img {
  height: 355px;
  width: 400px;
  padding: 10px;
}

.footer {
  color: #666;
}

.footer .blue i {
  color: #d2d6dc;
}

.footer .blue i:hover {
  background: #3c7fc6;
  color: #d2d6dc;
}

.footer .fa-chevron-up {
  cursor: pointer;
  font-size: 34px;
  margin: 40px 0 0 0;
  position: relative;
  top: 0px;
}

.footer .fa-chevron-up:hover {
  -webkit-animation: up 1s infinite;
  /* Chrome, Safari, Opera */
  animation: up 1s infinite;
}
